node_modules
/dist
.DS_Store
.next
.env
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.development.local
.env.test.local
.env.production.local
.rollup.cache
.turbo
.vscode
.yarn
.yarnrc
.yarnrc.yml
.yarnrc.yaml

# Next.js examples
src/__examples__/node_modules
src/__examples__/.next
src/__examples__/.env
src/__examples__/.env.local
src/__examples__/.env.development
src/__examples__/.env.production
src/__examples__/.env.test
src/__examples__/.env.development.local
src/__examples__/.env.test.local
.vercel
